.home-page__layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.home-page__content {
  flex: 1;
}

.home-page__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
}