fastapi==0.111.0
uvicorn==0.30.1
pydantic==2.7.4
pydantic-settings==2.3.4
SQLAlchemy==2.0.30
psycopg2-binary==2.9.9
redis==5.0.6
pymongo==4.7.3
elasticsearch==8.14.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
structlog==24.2.0
Django==5.0.6
pytest
httpx
pytest-env
google-auth==2.30.0
requests==2.31.0
django-cors-headers==4.3.1
motor==3.3.2
confluent-kafka==2.3.0
pytest
pytest-asyncio
pytest-cov
httpx