{{#if isLoading}}
  <div class="onboarding__loading">Cargando géneros...</div>
{{else}}
  <div class="onboarding">
    <div class="onboarding__card">
      
      <h1 class="onboarding__title">¿Qué géneros te gustan?</h1>
      <p class="onboarding__subtitle">Elige hasta 5 géneros para personalizar tu cartelera.</p>

      {{#if errorMsg}}
        <div class="onboarding__alert">
          {{errorMsg}}
        </div>
      {{/if}}

      <div class="onboarding__genres">
        {{#each renderedGenres}}
          <button
            class="onboarding__genre-btn {{#if this.isSelected}}onboarding__genre-btn--selected{{/if}}"
            data-genre="{{this.genre}}"
          >
            {{this.genre}}
          </button>
        {{/each}}
      </div>

      <div class="onboarding__actions">
        <button 
          id="btn-save"
          class="onboarding__btn-save"
          {{#if isSaveDisabled}}disabled{{/if}}
        >
          Guardar y Continuar
        </button>
        
        <button 
          id="btn-skip"
          class="onboarding__btn-skip"
        >
          Saltar por ahora
        </button>
      </div>

    </div>
  </div>
{{/if}}
