<div class="auth-layout">
  <div class="auth-layout__sidebar">
    <form class="auth-form" id="reset-password-form" novalidate>
      
      <div class="auth-form__header">
        <div class="auth-form__logo">
          <svg class="auth-form__logo-icon" width="28" height="28" viewBox="0 0 24 24" fill="currentColor">
            <path d="M22 10V6a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v4c1.1 0 2 .9 2 2s-.9 2-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4c-1.1 0-2-.9-2-2s.9-2 2-2z"/>
          </svg>
          <span class="auth-form__logo-text">CinemaPlus</span>
        </div>
        <h2 class="auth-form__title">Nueva Contraseña</h2>
      </div>

      <p class="auth-form__subtitle">Ingresa tu nueva contraseña para actualizar las credenciales de tu cuenta.</p>

      <div id="alert-container">
        {{#if successMsg}}
          <div class="auth-form__alert auth-form__alert--success">
            {{successMsg}}
          </div>
        {{/if}}
        {{#if errorMsg}}
          <div class="auth-form__alert auth-form__alert--error">
            {{errorMsg}}
          </div>
        {{/if}}
      </div>

      <div class="auth-form__field">
        <label class="auth-form__label" for="reset-password">Nueva Contraseña</label>
        <div class="auth-form__password-wrapper">
          <input class="auth-form__input auth-form__input--password" type="password" id="reset-password" placeholder="Mínimo 8 caracteres" {{#if isLoading}}disabled{{/if}} {{#if successMsg}}disabled{{/if}} />
        </div>
        <span class="auth-form__error" id="err-reset-password"></span>
      </div>

      <button class="auth-form__submit" type="submit" id="reset-submit-btn" {{#if isLoading}}disabled{{/if}} {{#if successMsg}}disabled{{/if}}>
        {{#if isLoading}}Guardando...{{else}}Guardar nueva contraseña{{/if}}
      </button>

      <div class="auth-form__footer">
        <a href="#" data-navigate="/login" class="auth-form__link">Volver al Login</a>
      </div>
    </form>
  </div>

  <div class="auth-layout__cover"></div>
</div>